{% extends "base.html" %}

{% block content %}
<article>
	<header>
		<h1 id="main-title">
			<a  href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
				title="Permalink to {{ article.title|striptags }}">
				{{ article.title }}
			</a>
		</h1>
	{% import 'translations.html' as translations with context %}
	{{ translations.translations_for(article) }}
	</header>
	<footer class="info">
		{% include "article-info.html" %}
	</footer><!-- /.info -->
	<div class="content">
		{{ article.content }}
	</div><!-- /.content -->
    {{ articles_paginator }}
</article>

{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
<div id="comments">
	<h2>Comments</h2>
	<div id="disqus_thread"></div>
</div><!-- /#comments -->
{% endif %}
{% endblock %}

{% block extra_scripts_bottom %}
{% include 'disqus-script.html' %}
{% endblock extra_scripts_bottom %}
