{% extends "base.html" %}

{% block title %}
{{ SITENAME }} - {{ article.title | striptags }}
{% endblock title %}

{% block page_content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 id="page-title" class="headline" itemprop="headline">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title | striptags }}">
        {{ article.title }}
      </a>
    </h1>
    {% if article.subtitle %}
    <h3 id="page-subtitle" class="headline subtitle">
      {{ article.subtitle }}
    </h3>
    {% endif %}
  </header>
  {% include 'parts/article-info.html' %}

  <div class="article-content" itemprop="articleBody">
    {{ article.content }}
  </div>
  {{ articles_paginator }}
</article>
{% include 'parts/disqus.html' %}

{% endblock page_content %}
