<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <title>
    {% block title %}
    {{ SITENAME }}
    {% endblock %}
  </title>
  {% include 'parts/syndication.html' %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css" />
  {% include 'parts/scripts-head.html' %}

</head>

<body id="main">
  {% include 'parts/github-ribbon.html' %}

  <div id="all-text">
    <header id="main-banner" class="banner">
      {% include 'parts/page-header.html' %}

    </header>
    <div id="page-content">
      {% block page_content %}
      {% endblock %}

    </div>
    <footer id="bottom">
      {% include 'parts/page-footer.html' %}

    </footer>
  </div>

  {% include 'parts/mathjax-script.html' %}

</body>
</html>
