<footer class="article-info">

  <div class="published">
    <span class="info-tag">published:</span>
    <span class="info-value" itemprop="datePublished">
      <abbr title="{{ article.date }}">
        {{ article.date | strftime(DEFAULT_DATE_FORMAT) }}
      </abbr>
    </span>
  </div>

  {% if article.modified %}
  <div class="modified">
    <span class="info-tag">edited:</span>
    <span class="info-value" itemprop="dateModified">
      <abbr title="{{ article.modified }}">
        {% if MODIFIED_DATE_FORMAT %}
        {{ article.modified | strftime(MODIFIED_DATE_FORMAT) }}
        {% else %}
        {{ article.modified | strftime(DEFAULT_DATE_FORMAT) }}
        {% endif %}
      </abbr>
    </span>
  </div>
  {% endif %}

  {% if article.author and article.author != AUTHOR %}
  <div class="author">
    <span class="info-tag">author:</span>
    <span class="info-value" itemprop="author">
      <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">
        {{ article.author }}
      </a>
    </span>
  </div>
  {% endif %}

  {% if (articles and (not category)) or (not articles_paginator) %}
  <div class="category">
    <span class="info-tag">category:</span>
    <span class="info-value" itemprop="articleSection">
      <a href="{{ SITEURL }}/{{ article.category.url }}">
        {{ article.category }}
      </a>
    </span>
  </div>
  {% endif %}

  {% if article.tags %}
  <div class="tags">
    <span class="info-tag">tags:</span>
    <span class="info-value" itemprop="keywords">
      <ul>
        {% for tag in article.tags %}
        <li>
          <a href="{{ SITEURL }}/{{ tag.url }}">
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </span>
  </div><!-- /.tags -->
  {% endif %}

</footer>
