<div id="extras">
  {% block extras %}
  {% if LINKS %}
  <div class="blogroll">
    <h2>blogroll</h2>
    <ul>
      {% for name, link in LINKS %}
      <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
  <div class="social">
    <h2>social</h2>
    <ul>
      {% if FEED_ALL_ATOM %}
      <li><a  href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
          type="application/atom+xml"
          rel="alternate">
        atom feed
      </a></li>
      {% elif FEED_ALL_RSS %}
      <li><a  href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
          type="application/rss+xml"
          rel="alternate">
        rss feed
      </a></li>
      {% endif %}
      {% for name, link in SOCIAL %}
      <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endblock extras %}
</div><!-- /#extras -->

<div id="site-info">
  {% if COPYRIGHT %}
  <p id="site-copyright">
    {{ COPYRIGHT }}
  </p>
  {% endif %}
  <p id="theme-info">
    This <a href="https://github.com/bsmith89/blog-theme">theme</a>
    was originally created for
    <a href="http://blog.byronjsmith.com">blog.byronjsmith.com</a>
    and is powered by <a href="http://getpelican.com">Pelican</a>
  </p>
</div>
